# Xcode
build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Swift Package Manager
.build/
.swiftpm/
Packages/

# CocoaPods
Pods/

# Firebase
GoogleService-Info.plist

# Misc
*.ipa
*.dSYM.zip
*.dSYM
*.hmap
*.xcscmblueprint
